/*your custom CSS here*/

.heading {
  width: 100%;
  height: 400px;
  background-size: 100%;
  background-image: url("../img/heading.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0px 0px 40px 0px;
}

.heading h1 {
  font-size: 50px;
  color: #fff;
  width: 100%;
  line-height: 400px;
  text-align: center;
  vertical-align: middle;
}

body {
  background-image: url("../img/metal.jpg");
}

.box {
  padding: 20px;
}

.box:last-child {
  margin-right: 0;
}
